<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>
	<nav class="navbar ">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ url_for('web.index') }}"> <img
				src="https://static.detivgorode.ua/files/organizations/450/450_sc_56efcc917f557.jpg"
				alt="MetaDom: Using domain-homology to interpret genetic variants"
				width="112" height="28">
			</a> <a class="navbar-item is-hidden-desktop"
				href="https://github.com/cmbi/metadom" target="_blank"> <span
				class="icon" style="color: #333;"> <i class="fa fa-github"></i>
			</span>
			</a> <a class="navbar-item is-hidden-desktop"
				href="https://twitter.com/laurensvdwiel" target="_blank"> <span
				class="icon" style="color: #55acee;"> <i
					class="fa fa-twitter"></i>
			</span>
			</a>

			<div class="navbar-burger burger" data-target="navMenuExample">
				<span></span> <span></span> <span></span>
			</div>
		</div>

		<div id="navMenuExample" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link  is-active"
						href="/documentation/overview/start/"> Docs </a>
					<div class="navbar-dropdown ">
						<a class="navbar-item " href="{{ url_for('web.index') }}">
							Overview </a> <a class="navbar-item "
							href="{{ url_for('web.index') }}"> Help </a>
						<hr class="navbar-divider">
						<div class="navbar-item">
							<div>
								<p class="is-size-6-desktop">
									<strong class="has-text-info">{{ METADOM_VERSION }}</strong>
								</p>

								<small> <a class="view-all-versions" href="{{ url_for('web.index') }}">View
										all versions</a>
								</small>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<a class="navbar-item is-hidden-desktop-only"
					href="https://github.com/jgthms/bulma" target="_blank"> Github
				</a> <a class="navbar-item is-hidden-desktop-only"
					href="https://twitter.com/jgthms" target="_blank"> Twitter </a>
				<div class="navbar-item">
					<div class="field is-grouped">
						<p class="control">
							<a class="tw-button button" data-social-network="Twitter"
								data-social-action="tweet" data-social-target="http://bulma.io"
								target="_blank"
								href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=http://bulma.io&via=jgthms">
								<span class="icon"> <i class="fa fa-twitter"></i>
							</span> <span> Tweet </span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">{% block content %} {% endblock %}</div>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>MetaDom</strong> by <a
						href="https://www.linkedin.com/in/laurensvdwiel/"> Laurens van
						de Wiel</a>. The source code is licensed <a
						href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
					website content is licensed <a
						href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC
						ANS 4.0</a>.
				</p>
			</div>
			<div class="content has-text-centered" style="color: lightgray;">
				<p>
					MetaDom Version {{ METADOM_VERSION }}, Source code is available at:
					<br> <a class="icon" href="https://github.com/cmbi/metadom">
						<i class="fa fa-github"></i> GitHub
					</a>
				</p>
			</div>
		</div>
	</footer>

	{% block js %} {% endblock %}
</body>
</html>
