{% extends "base.html" %} {% block content %}
<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">Metadom</h1>
			<h2 class="subtitle">
				Metadomains like you've never seen them before!

				<div id="id_not_found"
					class="alert alert-danger alert-dismissible hidden" role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Error!</strong> Sequence not found.
				</div>
			</h2>
		</div>
	</div>
</section>

{% endblock %} {% block js %} {% endblock %}
