{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}

<form id="metadom_form" method="post" action="{{ url_for('web.input') }}"
      role="form">
  {{ form.hidden_tag() }}

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">{{ form.entry_id.label }}</label>
    </div>
    <div class="field-body">
      <div class="field">
        {{ form.entry_id(class_='input') }}
      </div>
    </div>
    <div class="field-label is-normal">
      <label class="label">{{ form.position.label }}</label>
    </div>
    <div class="field-body">
      <div class="field">
        {{ form.position(class_='input') }}
      </div>
    </div>

    <div class="field is-grouped is-pulled-right" style="margin-left: 10px;">
      <div class="control">
        <button type="submit" class="button is-primary">Submit</button>
      </div>
      <div class="control">
        <button type="reset" class="button is-light">Cancel</button>
      </div>
    </div>
  </div>

</form>

{% endblock %}

{% block js %}

{% endblock %}
