{% extends "base.html" %} {% block page_title %}
<h1 class="title">Meta-domains</h1>
<h2 class="subtitle">Make use of domain-homology to interpret
  genetic variants</h2>
{% endblock %} {% block content %}

<!-- Scripts needed for functionality on this page -->
<script src="{{ url_for('web.metadom_js') }}"></script>

<!-- Custom stylesheet for this page -->

<!-- Staring definition of site content -->
<section class="section">
  <div class="container">
    <h1>View a single meta domain based on URL; vb: http://127.0.0.1:5000/metadom/ABCA4/domain1</h1>
    <h2>Which gene; which strand</h2>
    <h2>protein domain length</h2>
    <h2>domain instances in hg19</h2>
    <h2>aligned instances</h2>
    <h2>n_genes containing this domain</h2>
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Chromosome positions for the codon">Chromosome positions</abbr></th>
          <th><abbr title="Position in protein">Protein position</abbr></th>
          <th><abbr title="Position based on the Pfam protein domain">Consensus position</abbr></th>
          <th><abbr title="Percentage of positions that can be aligned throughout the human genome">Alignment %</abbr></th>
          <th><abbr title="Relative entropy as measured via Pfam full alignments">Pfam entropy</abbr></th>
          <th><abbr title="Relative entropy as measured solely via homology relations in the human genome, incorporating ExAC variants">ExAC entropy</abbr></th>
          <th><abbr title="Number of missense variants found in ExAC at this domain position">Meta ExAC missense </abbr></th>
          <th><abbr title="Number of missense variants found in HGMD at this domain position">Meta HGMD missense </abbr></th>
          <th><abbr title="Identifiers for the variants found in ExAC at this domain position">ExAC identifiers</abbr></th>
          <th><abbr title="Identifiers for the variants found in HGMD at this domain position">HGMD identfiers </abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Chromosome positions for the codon">Chromosome positions</abbr></th>
          <th><abbr title="Position in protein">Protein position</abbr></th>
          <th><abbr title="Position based on the Pfam protein domain">Consensus position</abbr></th>
          <th><abbr title="Percentage of positions that can be aligned throughout the human genome">Alignment %</abbr></th>
          <th><abbr title="Relative entropy as measured via Pfam full alignments">Pfam entropy</abbr></th>
          <th><abbr title="Relative entropy as measured solely via homology relations in the human genome, incorporating ExAC variants">ExAC entropy</abbr></th>
          <th><abbr title="Number of missense variants found in ExAC at this domain position">Meta ExAC missense </abbr></th>
          <th><abbr title="Number of missense variants found in HGMD at this domain position">Meta HGMD missense </abbr></th>
          <th><abbr title="Identifiers for the variants found in ExAC at this domain position">ExAC identifiers</abbr></th>
          <th><abbr title="Identifiers for the variants found in HGMD at this domain position">HGMD identfiers </abbr></th>
        </tr>
      </tfoot>
      <tbody id="domainTable">
      {% for k,v in data.items() %}
        <tr id="row{{k}}" onclick='$("[id^=row]").removeClass("is-selected");$("#row{{k}}").addClass("is-selected")'>
        <th>{{k}}</th>        
        <td> {% for value in data[k] %} {{ value }} {% endfor %} </td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        <td>random-data</td>
        </tr> 
      {% endfor %}
      </tbody>
    </table>
    <div class="field">
      <div class="field has-addons">
        <div class="control">
          <button class="button is-info" onclick="clearTable()">
            Clear Table</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block js %} {% endblock %}
