{% extends "base.html" %}
{% block page_title %}
  <h1 class="title">Meta-domains</h1>
  <h2 class="subtitle">Make use of domain-homology to interpret genetic variants</h2>
{% endblock %}
{% block content %}

<!-- Scripts needed for functionality on this page -->

<!-- Custom stylesheet for this page -->

<!-- Staring definition of site content -->
<section class="section">
  <div class="container">
    <h1 class="title" style="color: #00AFDC;">CONTENT</h1>
  </div>
</section>

{% endblock %} {% block js %} {% endblock %}
