{% extends "base.html" %} {% block content %}

<!-- Scripts needed for functionality on this page -->
<script src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
<script src="{{ url_for('static', filename='js/toleranceLandscape/downloadmethods.js') }}"></script>
<script src="{{ url_for('static', filename='js/toleranceLandscape/visualization.js') }}" async></script>
<script src="{{ url_for('web.tolerance_js') }}" async></script>

<script async>
$( function() {
  var availableTags = [{% for item in data %} {{ item|safe }},{% endfor %}];
  $( "#geneName" ).autocomplete({
    minLength: 3,
    delay: 500,
    source: availableTags
  });
});
</script>

<!-- Custom stylesheet for this page -->
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/tolerance_graph.css') }}">



<!-- Staring definition of site content -->
<section class="section">
  <div class="container">
    <div id="content">
      <!-- Loading screen -->
      <div class="modal" id="loading_overlay">
        <div class="modal-content is-shadowless"
          style="position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5);">
          <img src="{{ url_for('static', filename='img/loading.gif') }}"
            style="display: block; margin: auto;">
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Tolerance landscape form -->
    <div class="field">

      <!-- Gene name input -->
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input is-fullwidth" type="text" name="geneName"
            id="geneName" size="20" onclick="this.setSelectionRange(0, this.value.length)"
            placeholder="Type here your gene name of interest" required />
        </div>
        <div class="control">
          <button id="getTranscriptsButton" class="button is-info" onclick="getTranscript()">
            Get transcripts</button>
        </div>
      </div>
      <div id="geneNameHelpMessage" class="help"></div>

      <!-- Transcript selection -->
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="gtID" id="gtID" required disabled>
              <option value="" disabled selected hidden>Please
                first retrieve the transcripts</option>
            </select>
          </div>
        </div>
        <div class="control">
          <button id='getToleranceButton' type="submit"
            class="button is-static" onclick="loadDoc()">Get
            tolerance</button>
          <button class="button" onclick="clearTranscripts()">Reset</button>
        </div>
      </div>
      <!-- Transcript selection -->
      <!--
      <div class="field">
        <div class="control">
          Please insert here DNA or Protein variants according to the <a href="http://varnomen.hgvs.org/" target="_blank">HGVS</a> variant nomenclature
          <textarea id="custom_variants" class="textarea" placeholder="Annotate your variants, please provide variants as 'p.V2A', 'p.Val2Ala', 'c.T5C', or 'chr1:123123 T>C'"></textarea>
        </div>
        <div class="control is-vertical">
          <button id="annotateCustomVariants" class="button is-info" onclick="">
                Annotate variants</button>
        </div>  
      </div>
       -->
    </div>
  </div>

  <div id='toleranceGraphContainer' class="container is-hidden">
    <p id="geneDetails"></p>
    <svg xmlns="http://www.w3.org/2000/svg" id="svg"></svg>
    <div id="graph"></div>
  </div>
  
  <div class="container">
    <!-- Toggling advanced mode -->
    <div class="field is-grouped">    
      <div class="control is-hidden" id="advanced_checkbox_control">
        <label class="checkbox"> <input id="advanced_checkbox"
          type="checkbox" disabled onclick="toggleAdvancedOpions(this)">
          Advanced mode
        </label>
      </div>
      <div class="control is-hidden" id="download_svg_button">
        <button id='dlSVG' name="downloadButton" type="button"
          class="button is-info is-outlined">Download Graph as
          SVG</button>
      </div>
      <div class="control is-hidden" id="download_tsv_button">
        <button id='dlJSON' name="downloadButton" type="button"
          class="button is-info is-outlined">Download data for
          Graph as TSV</button>
      </div>
    </div>

    <!-- Advanced options -->
    <div id="advanced_options" class="field is-hidden">
      <!-- Implement ExAC frequency filter -->
      <div class="control">
        <div class="label">Tolerance is based on ExAC SNV variants with "<span id="exacFreq">0.00%</span>" frequency or greater </div>
        <input type="range" name="frequency" id="frequency" value="0.0" min="0.0" max="0.01" step="0.0001" required 
         oninput="updateExACFrequencySlider(this)" onmouseup="loadDoc()"/>
      </div>

      <!-- Change the sliding window size -->
      <div class="control">
        <div class="label">
          Sliding window: <span id="swPer">10</span> amino-acid residues (changing this will make the colouring inaccurate)
        </div>
        <input type="range" name="slidingWindow" id="slidingWindow"
          value="10" min="1" max="100" step="1" required oninput="updateSlidingwindowPercentage(this)" onmouseup="loadDoc()"/>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block js %} {% endblock %}
