{% extends "base.html" %} {% block content %}

<!-- Staring definition of site content -->
<section class="section">
  <div class="box">
    <section class="section">
      <div class='content'>
        <h1 class="title" style="color: #00AFDC;">Mission</h1>
        <p>
          MetaDome is developed at the department of <a
            href="https://www.radboudumc.nl/en/research/departments/human-genetics"
            target="_blank">Human Genetics</a> and the Centre for
          Molecular and Biomolecular Informatics <a
            href="http://www.cmbi.umcn.nl" target="_blank">CMBI</a> at
          the <a href="https://www.radboudumc.nl/en/research"
            target="_blank">Radboud University Medical Centre</a> in
          Nijmegen.
        </p>

        <div class="columns is-mobile is-centered is-multiline"
          style="align-items: center">
          <a class="column is-one-fifth"
            href="https://www.radboudumc.nl/en/research/departments/human-genetics"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/human_genetics_nijmegen_logo.JPG') }}"
            alt="Human Genetics Nijmegen"></a> <a
            class="column is-one-fifth" href="http://www.cmbi.umcn.nl"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/cmbi_logo.gif') }}"
            alt="CMBI"></a> <a class="column is-one-fifth"
            href="https://www.radboudumc.nl/en/research" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/radboudumc_logo.png') }}"
            alt="Radboudumc"></a>
        </div>

        <p>Our mission is to provide better insight into human
          genetic variation in the context of the protein. By using
          homologous domain relations to further enhance the amount of
          information even a single genetic variant may provide. And to
          provide further evidence for the functional impact of genetic
          variants. MetaDome is aimed at professionals in the
          (bio-)medical field of human genetics who wish to visualize
          their mutation of interest in the context of normal genetic
          variation and provide detailed information of similar variants
          found across homologous domain positions. We hope that these
          new insights can be used directly in a publication and/or for
          intelligent design of further experiments.</p>

        <h1 class="title" style="color: #00AFDC;">Method</h1>

        <p>
          MetaDome integrates publicly available data of human genetic
          variation to construct detailed information for a single
          protein and its protein domains. More information on this
          complex integration process can be found on the <a
            href="{{ url_for('web.method') }}">method page</a>.
        </p>

        <p>
          TESTING </br> Any results on tests
        <p>
        <h1 class="title" style="color: #00AFDC;">Citing MetaDome</h1>

        <p>We anticipate the publication of a method paper
          describing this web server in late 2018. Until that is
          published, please use the following citation when referencing
          the results in your report:</p>
        <p>MetaDome web server, Nijmegen, The Netherlands (URL:
          https://stuart.radboudumc.nl/metadome) [date (month, year)
          accessed].</p>
        <p>together with :</p>
        <p>
          <strong> Aggregation of population‐based genetic
            variation over protein domain homologues and its potential
            use in genetic diagnostics. </strong>
        </p>
        <p>
          <em> Human Mutation. 2017;38:1454–1463. <a
            href="https://doi.org/10.1002/humu.23313" target="_blank">
              10.1002/humu.23313 </a> PubMed: <a
            href="https://www.ncbi.nlm.nih.gov/pubmed/28815929"
            target="_blank"> 21059217. </a>
          </em>
        </p>

        <h3 class="title" style="color: #00AFDC;">Informal Notice</h3>

        <p>Please express your gratitude for this free material by
          citing the above article.</p>

        <p>
          The material provided is complete, correct to the best of our
          knowledge, and holds all that is needed to start building your
          own MetaDome server. If you do so, please provide a link to the
          MetaDome server. If you want to get a flying start by getting
          access to the fully built MetaDome database, feel free to <a
            href="{{ url_for('web.contact') }}">contact us</a>.
        </p>

        <h3 class="title" style="color: #00AFDC;">Licensing</h3>

        <p>
          The <a href="https://github.com/cmbi/metadome/releases"
            target="_blank">source code</a> is licensed <a
            href="http://opensource.org/licenses/mit-license.php"
            target="_blank">MIT</a>. The website content is licensed <a
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            target="_blank">CC ANS 4.0</a>
        </p>

        <h3 class="title" style="color: #00AFDC;">Acknowledgments</h3>

        <p>This software could not exist without the many great open
          source projects and resources freely available to the
          (non-)scientific community. Particularly we would like to
          express our deepest thanks to the following projects that we
          have used for building the MetaDome web server:</p>


        <div class="columns is-mobile is-centered is-multiline"
          style="align-items: center">
          <a class="column is-one-fifth" href="http://www.uniprot.org/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/uniprot_logo_medium.svg') }}"
            alt="Uniprot"></a> <a class="column is-one-fifth"
            href="https://www.gencodegenes.org/" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/gencodegenes-logo-helix-av.png') }}"
            alt="The GENCODE project produces high quality reference gene annotation and experimental validation for human and mouse genomes"></a>
          <a class="column is-one-fifth" href="http://pfam.xfam.org/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/Pfam_logo.gif') }}"
            alt="Pfam is a large collection of protein families, represented by multiple sequence alignments and hidden Markov models (HMMs)"></a>
          <a class="column is-one-fifth"
            href="http://gnomad.broadinstitute.org/" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/gnomad_logo.png') }}"
            alt="The Genome Aggregation Database (gnomAD)"></a> <a
            class="column is-one-fifth"
            href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/clinvar_logo.png') }}"
            alt="ClinVar is a freely accessible, public archive of reports of the relationships among human variations and phenotypes, with supporting evidence."></a>
          <a class="column is-one-fifth"
            href="https://www.ebi.ac.uk/interpro/" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/InterPro_long_1600.png') }}"
            alt="InterPro: protein sequence analysis & classification"></a>
          <a class="column is-one-fifth" href="http://hmmer.org/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/hmmer_logo.png') }}"
            alt="HMMER: biosequence analysis using profile hidden Markov models"></a>
          <a class="column is-one-fifth" href="http://flask.pocoo.org/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/flask.svg') }}"
            alt="Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions."></a>
          <a class="column is-one-fifth"
            href="https://www.postgresql.org/" target="_blank"><img
            class="image is-2by1"
            src="{{ url_for('static', filename='img/postgresql-logo.png') }}"
            alt="POSTGRESQL: THE WORLD'S MOST ADVANCED OPEN SOURCE RELATIONAL DATABASE"></a>
          <a class="column is-one-fifth" href="https://www.docker.com/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/docker-logo.png') }}"
            alt="Docker - Build, Ship, and Run Any App, Anywhere"></a>
          <a class="column is-one-fifth" href="https://bulma.io/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/bulma-logo.png') }}"
            alt="Bulma: a modern CSS framework based on Flexbox"></a>
          <a class="column is-one-fifth" href="https://d3js.org/"
            target="_blank"><img class="image is-2by1"
            src="{{ url_for('static', filename='img/D3js_logo.svg') }}"
            alt="D3 is a JavaScript library for visualizing data with HTML, SVG, and CSS."></a>
        </div>
      </div>
    </section>
  </div>
</section>

{% endblock %} {% block js %} {% endblock %}
