<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{{ url_for('static', filename='js/d3.v4.min-4.13.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-1.12.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tour-standalone-v0.12.0.min.js') }}"></script>

<title>{% block title %}{% endblock %}</title>

<link rel="icon" type="image/png"
  href="{{ url_for('static', filename='img/favicon.png') }}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/bulma/0.7.1/bulma.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/jquery_ui/jquery-ui-1.12.1.css') }}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap-tour/v0.12.0/bootstrap-tour-standalone.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/site.css') }}">

</head>
<body class="modal-body">
  <nav class="navbar is-fixed-top" style="background-color: #f9f9f9;">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('web.index') }}"> <img
        src="{{ url_for('static', filename='img/metadom_logo.png') }}">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <a class="link is-info" href="{{ url_for('web.dashboard') }}">Start
            Analysis</a>
        </div>
        <div class="navbar-item">
          <a class="link is-info" href="{{ url_for('web.dashboard') }}?tour=true">Start Tour</a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="link is-info" href="{{ url_for('web.about') }}">About
            MetaDome</a>
        </div>
        <div class="navbar-item">
          <a class="link is-info" href="{{ url_for('web.method') }}">Methods</a>
        </div>
        <div class="navbar-item">
          <a class="link is-info" href="{{ url_for('web.contact') }}">Contact
            us</a>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero is-primary" style="background-color: #006991;">
    <div class="hero-body">
      <div class="container">{% block page_title %}{% endblock %}</div>
    </div>
  </section>

  <div class="container">{% block content %} {% endblock %}</div>
  <footer class="modal-footer" style="background-color: #f9f9f9;">
    <div class="container">
      <div class="content has-text-centered" style="color: lightgray">
        <p>
          <strong>MetaDome Version {{g.metadom_version }}</strong>, <small>
            <a class="view-all-versions"
            href="https://github.com/cmbi/metadom/releases"
            target="_blank">View all versions</a>
          </small>
        </p>
      </div>
    </div>
  </footer>
  {% block js %} {% endblock %}

</body>
</html>
