{% extends "base.html" %} {% block content %}

<!-- Staring definition of site content -->
<section class="section">
  <div class="box">
    <section class="section">
      <div class='content'>
        <h1 class="title" style="color: #00AFDC;">Help</h1>
        
        <h3 class="title" style="color: #00AFDC;">Tutorial</h3>
        <p>
          To get more familiar with the using MetaDome and all of it's functionality 
          we strongly advise to <a href="{{ url_for('web.dashboard') }}?tour=true">
          start the tour</a>. If you feel that any questions are not addressed in the
          FAQ below, please <a href="{{ url_for('web.contact') }}">contact us</a>. 
        </p>
        
        <h1 class="title" style="color: #00AFDC;">Frequently Asked Questions</h1>
        
        <h3 class="title" style="color: #00AFDC;">General questions</h3>
        <div class="box">
         <div class="label">What is MetaDome?</div>
         <div class="box">
         	waarom kijken nar andere domeinen?
         </div>
         
         <div class="label">How often is the underlying data updated?</div>
         <div class="box">
         </div>
        </div>
        
        <h3 class="title" style="color: #00AFDC;">Interpretation of a MetaDome analysis</h3>      
        <div class="box">
         <h4 class="title" style="color: #00AFDC;">Meta-domain Landscapes</h4>
         <div class="label">how should I interpret poitional information and where should I pay close attention to?</div>
         <div class="box">
         </div>
         
         <div class="label">Why are there black boxes in my domain?</div>
         <div class="box">
           answer
         </div>
         
         <div class="label">I cannot find the domain that must be in my gene of interest?</div>
         <div class="box">
           answer
         </div>
         
         <div class="label">mRNA validation -> less polution of the data?</div>
         <div class="box">
            answer
         </div>
         
         
         <h4 class="title" style="color: #00AFDC;">Tolerance Landscapes</h4>
         <div class="label">how should I interpret poitional information and where should I pay close attention to?</div>
         <div class="box">
         </div>
          <div class="label">correctie op codons bij Dn/Ds?</div>
          <div class="box">
            answer
          </div>
          
          <div class="label">where are the tolerance landscape' colours based on?</div>
          <div class="box">
            answer
          </div>
         
         
         <h4 class="title" style="color: #00AFDC;">Positional information</h4>
         <div class="label">low covered regions? -> effect on dnds, we do not expect that this impacts domains</div>
          <div class="box">
            answer
          </div>
          
          <div class="label">alignment coverage?</div>
          <div class="box">
            answer
          </div>
          
		  <div class="label">interpretation of related gnomad variation?</div>
          <div class="box">
            answer
          </div>
          
          <div class="label">waar komen de clinvar varianten vandaan?</div>
          <div class="box">
            answer
          </div>
          
        </div>
        
        <h3 class="title" style="color: #00AFDC;">Data Sources</h3>
        <div class="box">
         <div class="label">On what data is MetaDome based?</div>
         <div class="box">
         </div>
         
         <div class="label">How often is the underlying data updated?</div>
         <div class="box">
         </div>
        </div>

        <h3 class="title" style="color: #00AFDC;">Technical</h3>
        <div class="box">
	        <div class="label">What browsers are compatible for MetaDome?</div>
	        <div class="box">
		        <p>
		          The MetaDome web server is developed and extensively tested using 
		          <a href="https://www.google.com/chrome/">Google Chrome</a> and 
		          <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>. We 
		          recommend using one of these browsers to access all functionality. 
		          Here is a list of compatible and tested browsers:
		        </p>
		        <table class="table">
				  <thead>
				    <tr>
				      <th><abbr title="OS">OS</abbr></th>
				      <th><abbr title="Version">Version</abbr></th>
				      <th><abbr title="Chrome">Chrome</abbr></th>
				      <th><abbr title="Firefox">Firefox</abbr></th>
				      <th><abbr title="Microsoft Edge">Microsoft Edge</abbr></th>
				      <th><abbr title="Microsoft IE">Microsoft IE</abbr></th>
				      <th><abbr title="Safari">Safari</abbr></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th>Linux</th>
				      <td>Ubuntu 16.04 and 18.04</td>
				      <td>70.0</td>
				      <td>63.0</td>
				      <td>n/a</td>
				      <td>n/a</td>
				      <td>n/a</td>
				    </tr>
				    <tr>
				      <th>MacOS</th>
				      <td>Mojave</td>
				      <td>70.0</td>
				      <td>63.0</td>
				      <td>n/a</td>
				      <td>n/a</td>
				      <td>Not supported</td>
				    </tr>
				    <tr>
				      <th>Windows</th>
				      <td>7 and 10</td>
				      <td>70.0</td>
				      <td>63.0</td>
				      <td>Not tested</td>
				      <td>Not supported</td>
				      <td>n/a</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
        </div>
        
        <h3 class="title" style="color: #00AFDC;">Privacy</h3>
        <div class="box">
         <div class="label">How private is any data I enter in MetaDome?</div>
         <div class="box">
           MetaDome does not save any data that a user may provide. The visualization 
           of MetaDome occurs client-side (in your local browser) and is not 
           accessible to us. This means we can not know which genes, transcripts,
           domains, and positions you are interested in. 
         </div>
         
         <div class="label">Does MetaDome use personalized tracking?</div>
         <div class="box">
         	MetaDome makes use of Google Analytics to help us analyze how users 
         	navigate the various site-pages. Google Analytics provides us with 
         	anonymized and global statistics such as traffic per country and time 
         	of day. We do not employ any cookies or personalized tracking.
           <br><br>
           We will never (and will not allow any third party to) use the 
           statistical analytics tool to track or to collect any Personally 
           Identifiable Information of visitors to our site. Google will not 
           associate your IP address with any other data held by Google. 
           Neither we nor Google will link, or seek to link, an IP address 
           with the identity of a computer user.
         </div>
        </div>
        
      </div>
    </section>
  </div>
</section>

{% endblock %} {% block js %} {% endblock %}
