{% extends "base.html" %} {% block content %}

<!-- Staring definition of site content -->
<section class="section">
  <div class="box">
    <section class="section">
      <div class='content is-medium'>
        <h1 class="title" style="color: #00AFDC;">Welcome to MetaDome</h1>
        <p>
         MetaDome analyses the mutation tolerance at each position in a human protein. 
         It uses data from <a href="http://gnomad.broadinstitute.org/">gnomAD</a> and 
         <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a>. 
         MetaDome enhances the analysis of your gene of interest by parallel analysis 
         of all homologous domains in the whole human genome.
        </p>
        <p>
          Input your gene name and pick your transcript and MetaDome will collect and
          combine available information to produce a tolerance landscape, annotate 
          <a href="https://pfam.xfam.org/" target="_blank">PFAM</a> domains and 
          pathogenic <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">
          ClinVar</a> variants, and provide meta-domain variant annotation.
          Complete with results, ability to edit and download all the information.
        </p>
        <p>
	      You can edit, print, and download the results. MetaDome usage is free, but we 
	      hope you faithfully cite <a href="{{ url_for('web.about') }}#cite_us">our articles</a>.
        </p>
        
      </div>
    </section>
    <section class="section has-text-centered">
    <!-- Start a tolerance landscape -->
      <div class="control is-expanded has-text-centered">
        <button class="button is-info is-large" onclick='location.href="{{ url_for("web.dashboard") }}"'>
          Start analysis</button>
        <p class="label" style="color: #00AFDC;"> or </p>
        <button class="button is-info is-outlined is-large" onclick='location.href="{{ url_for("web.dashboard") }}?tour=true"'>
          Start the tour</button>
      </div>
    </section>
  </div>
 </section>

{% endblock %} {% block js %} {% endblock %}
