{% extends "base.html" %} {% block content %}

<!-- Staring definition of site content -->
<section class="section">
  <div class="box">
    <section class="section">
      <div class='content is-medium'>
        <h1 class="title" style="color: #00AFDC;">Welcome to MetaDome!</h1>
        <p>
          MetaDome is an easy-to-use web service that allow you to analyse human proteins
          for tolerance per-position to population-based genetic variation present in  
          <a href="http://gnomad.broadinstitute.org/">gnoMAD</a> and annotates known
          pathogenic variation from the <a href="https://www.ncbi.nlm.nih.gov/clinvar/" 
          target="_blank">ClinVar</a> resource. Furthermore, homologous domain relations 
          are used obtain a much greater wealth of information for positions that fall in
          a protein domain which has homologue occurrences in human proteins. 
        </p>
        <p>
          Input your gene name and pick your transcript and MetaDome will collect and
          combine available information to produce a tolerance landscape, annotate 
          <a href="https://pfam.xfam.org/" target="_blank">PFAM</a> domains and 
          pathogenic <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">
          ClinVar</a> variants, and provide meta-domain variant annotation.
          Complete with results, ability to edit and download all the information.
        </p>
      </div>
    </section>
    <section class="section has-text-centered">
    <!-- Start a tolerance landscape -->
      <div class="control is-expanded has-text-centered">
        <button class="button is-info is-large" onclick='location.href="{{ url_for("web.dashboard") }}"'>
          Start analysis</button>
      </div>
    </section>
  </div>
 </section>

{% endblock %} {% block js %} {% endblock %}
