{% extends "base.html" %} {% block content %}
  <!-- IE warning screen -->
  <div class="modal" id="IE_warning_overlay">
    <div class="modal-background" onclick='$("#IE_warning_overlay").removeClass("is-active");'></div>
    <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Unsupported browser warning</p>
      <button class="delete" aria-label="close" onclick='$("#IE_warning_overlay").removeClass("is-active");'></button>
    </header>
    <section class="modal-card-body">
      We have detected you are using a browser that the MetaDome web server does not support.
      We recommend using <a href="https://www.google.com/chrome/">Google Chrome</a> or 
      <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> to access all features of our web server.
    </section>
	</div>
  </div>
<!-- Staring definition of site content -->
<section class="section">
  <div class="box">
    <section class="section">
      <div class='content is-medium'>
        <h1 class="title" style="color: #00AFDC;">Welcome to MetaDome</h1>
        <p>
         MetaDome analyses the mutation tolerance at each position in a human protein. 
         It uses data from <a href="http://gnomad.broadinstitute.org/">gnomAD</a> and 
         <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a>. 
         MetaDome enhances the analysis of your gene of interest by parallel analysis 
         of all homologous domains in the whole human genome.
        </p>
        <p>
          Input your gene name and pick your transcript and MetaDome will collect and
          combine available information to produce a tolerance landscape, annotate 
          <a href="https://pfam.xfam.org/" target="_blank">Pfam</a> domains and 
          pathogenic <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">
          ClinVar</a> variants, and provide meta-domain variant annotation.
          Complete with results, ability to edit and download all the information.
        </p>
        <p>
	      You can edit, print, and download the results. MetaDome usage is free, but we 
	      hope you faithfully cite <a href="{{ url_for('web.about') }}#cite_us">our articles</a>.
        </p>
        
      </div>
    </section>
    <section class="section has-text-centered">
    <!-- Start a tolerance landscape -->
      <div class="control is-expanded has-text-centered">
        <button class="button is-info is-large" onclick='location.href="{{ url_for("web.dashboard") }}"'>
          Start analysis</button>
        <p class="label" style="color: #00AFDC;"> or </p>
        <button class="button is-info is-outlined is-large" onclick='location.href="{{ url_for("web.dashboard") }}?tour=true"'>
          Start the tour</button>
      </div>
    </section>
  </div>
 </section>

<script>
// Check which browser is used 
// Opera 8.0+
var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

// Firefox 1.0+
var isFirefox = typeof InstallTrigger !== 'undefined';

// Safari 3.0+ "[object HTMLElementConstructor]" 
var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

// Internet Explorer 6-11
var isIE = /*@cc_on!@*/false || !!document.documentMode;

// Edge 20+
var isEdge = !isIE && !!window.StyleMedia;

//Chrome 1 - 71
var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

// Blink engine detection
var isBlink = (isChrome || isOpera) && !!window.CSS;

// Warn users if they are using something other than Chrome or Firefox
if (!(isChrome || isFirefox)){
	$("#IE_warning_overlay").addClass("is-active");
}
</script>

{% endblock %} {% block js %} {% endblock %}